<!DOCTYPE html>
<html>
<head>
  <title>manifest.io <% if (typeof title !== "undefined") { %> - <%= title %><% } %></title>
</head>
<body>
  <div id="container">
    <header>
      <hgroup>
        <h1><a href="/">manifest.io</a></h1>
      </hgroup>
    </header>

    <%- body %>

    <footer>
      <a href="http://www.digitarald.de">Harald Kirschner</a> © 2012
    </footer>
  </div>
</body>
</html>

